/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Munsteria';
    src: url('../../static/font/Munsteria.ttf');
}

@font-face {
    font-family: 'Twilight';
    src: url('../../static/font/Twilight.ttf')
}

@font-face {
    font-family: 'type';
    src: url('../../static/font/Wehm.ttf')
}

@font-face {
    font-family: 'zy';
    src: url('../../static/font/zy.ttf')
}

@font-face {
    font-family: 'regular';
    src: url('../../static/font/regular.ttf')
}

.nav {
    @apply flex flex-row flex-nowrap flex-auto w-screen h-16 bg-pan-dark align-middle fixed top-0;
}

.content {
    @apply flex flex-auto flex-nowrap justify-center mt-16 mx-48 space-x-10 h-content w-auto;
}