/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Twilight';
    src: url('../../static/font/Twilight.ttf')
}

@font-face {
    font-family: 'type';
    src: url('../../static/font/Wehm.ttf')
}

@font-face {
    font-family: 'ali_ph';
    src: url('../../static/font/Alibaba-PuHuiTi-Regular.ttf')
}

/* nav position */
.nav {
    @apply flex flex-row flex-nowrap flex-auto w-screen h-16 bg-pan-dark align-middle fixed top-0;
}

/* content position */
.content {
    @apply flex flex-auto flex-nowrap h-content w-4/5 fixed top-20;
}

/* card container */
.card {
    z-index: 1;
    perspective: 1000px;
}

/* card cover */
.card_cover {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    transform-origin: top center;
    will-change: transform;
    transform: skewX(0.001deg);
    transition: transform 0.35s ease-in-out;
}

.card_cover::after {
    display: block;
    content: "";
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: linear-gradient(226deg,
            rgba(105, 100, 100, 0.4) 0%,
            rgba(255, 255, 255, 0.3) 35%,
            rgba(255, 255, 255, 0.2) 42%,
            rgba(255, 255, 255, 0) 60%);
    transform: translateY(-20%);
    will-change: transform;
    transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
}

.card:hover .card_cover::after {
    transform: translateY(0%);
}

/* card box shadow */
.card::before {
    display: block;
    content: "";
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);
    will-change: opacity;
    transform-origin: top center;
    transform: skewX(0.001deg);
    transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
}

.card:hover::before {
    opacity: 0.6;
    transform: rotateX(7deg) translateY(-6px) scale(1.05);
}

/* card hover main effect */
/* .card:hover .card_cover {
    transform: rotateX(7deg) translateY(-6px);
} */

/* scrollbar */
/* 整个滚动条 */
::-webkit-scrollbar {
    @apply w-2;
    @apply h-full;
    @apply bg-transparent;
}

/* 滚动条上的滚动滑块 */
::-webkit-scrollbar-thumb {
    @apply bg-pan-dark;
    @apply rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-blue-500;
}

::-webkit-scrollbar-thumb:active {
    @apply bg-gray-900;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
    @apply bg-transparent;
    @apply rounded-full;
}

::-webkit-scrollbar-track:hover {
    @apply bg-gray-500;
}

::-webkit-scrollbar-track:active {
    @apply bg-gray-600;
}

/* 滚动条上的按钮(上下箭头)
滚动条没有滑块的轨道部分
当同时有垂直滚动条和水平滚动条时交汇的部分
某些元素的corner部分的部分样式 */
/* ::-webkit-scrollbar-button,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-resizer {
    @apply bg-transparent;
} */